#!/usr/bin/make -f
#
# debian/rules for Vyatta linux-firmware
#  based on Ubuntu package
# Use this however you want, just give credit where credit is due.
#
# Copyright (c) 2008 Ben Collins <bcollins@ubuntu.com>
#
#

export LC_ALL=C
export SHELL=/bin/bash -e

%:
	dh $@

doc_dir = $(CURDIR)/debian/linux-firmware/usr/share/doc/linux-firmware
license_dir = $(doc_dir)/licenses

override_dh_auto_install-indep:
	./copy-firmware.sh lib/firmware

	install -d $(doc_dir)
	cp WHENCE $(doc_dir)/README

	install -d $(license_dir)
	cp LICEN[CS]E* GPL-3 $(license_dir)
	find $(license_dir) -type f -exec gzip {} \;

override_dh_auto_test:
